.background {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 240px; 
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }