.card-content {
    background-color: white;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top:100px;
    height: 360px;
    width: 300px;
    padding: 34px;
    z-index: 4;
    border-radius: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
 }
    